body{  
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: green;  
  }  
  .container {  
      padding: 50px;  
    background-color: lightblue;  
  }  
  input[type=text], input[type=password], textarea {  
    width: 100%;  
    padding: 15px;  
    margin: 5px 0 22px 0;  
    display: inline-block;  
    border: none;  
    background: #f1f1f1; 
    border-radius: 10px; 
  }  
  input[type=text]:focus, input[type=password]:focus {  
    background-color: white;  
    outline: none; 
    border: 1px solid green; 
  }  
   div {  
          padding: 10px 0;  
        }  
  hr {  
      border: 1px solid #f1f1f1;  
      margin-bottom: 25px;  
    }  
  .registerbtn {  
    background-color: #ffff;  
    color: #4CAF50;  
    padding: 16px 20px;  
    margin: 8px 0;  
    border: none;  
    border-radius: 10px;
    cursor: pointer;  
    width: 100%;  
    opacity: 0.9;  
  }  
  .registerbtn:hover {  
    background-color: green;  
    color: white;  
    
  }  